@import '../../scss/spacings';
@import '../../scss/colors';

$header-background: $black;
$header-item-hover: $grey-1;

.header {
  height: 72px;
  background-color: $header-background;
  color: $white;

  .container, .row, .column {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-item {
      display: inline-block;
      padding: $spacing-16;
      cursor: pointer;
      transition: background ease-out .3s;

      &:hover {
        background: $header-item-hover;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}