@import 'scss/spacings';
@import 'scss/colors';
@import 'scss/fonts';

$header-background: $black;
$header-item-hover: $grey-1;

.header {
  height: $spacing-64;
  background-color: $header-background;
  color: $white;

  .logo-container {
    display: flex;
    height: 100%;
    align-items: center;

    .logo {
      height: $spacing-48;
    }

    .logo-text {
      margin-left: $spacing-16;
      font-size: $font-30;
    }
  }

  .container, .row, .column {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-item {
      display: inline-block;
      cursor: pointer;
      transition: background ease-out .3s;

      &:hover {
        background: $header-item-hover;
      }

      .link {
        display: inline-block;
        color: $white;
        text-decoration: none;
        line-height: $spacing-48;
        padding-left: $spacing-16;
        padding-right: $spacing-16;
      }
    }
  }
}