$grey-1: #212121;
$grey-2: #343434;
$grey-3: #505050;
$grey-4: #868686;
$grey-5: #ADADAD;
$grey-6: #CECECE;
$grey-7: #DEDEDE;
$grey-8: #E9E9E9;
$grey-9: #F1F1F1;
$grey-10: #F8F8F8;

$primary: #4a148c;
$primary-light-1: #612CA1;
$primary-light-2: #774AAD;
$primary-dark-1: #390972;
$primary-dark-2: #2A0557;

$white: #fff;
$black: #000;

$error: #D8000C;
$warning: #E4AE0C;
$success: #11B400;

$link: #0090FF;

$focus: #8DBCED;