$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem; 
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-30: 1.875rem;
$font-36: 2.25rem;
$font-48: 3rem;
$font-60: 3.75rem;
$font-72: 4.5rem;