$grid-gutter: 10px;

$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-48: 3rem;
$spacing-64: 4rem;
$spacing-96: 6rem;
$spacing-128: 8rem;
$spacing-192: 12rem;
$spacing-256: 16rem;
$spacing-384: 24rem;
$spacing-512: 32rem;
$spacing-640: 40rem;
$spacing-768: 48rem;
$spacing-1024: 64rem;
$spacing-1200: 75rem;