@import './colors';
@import './fonts';
@import './spacings';
@import './media';

* {
  font-family: Arial;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  @include media('<=medium') {
    margin-top: $spacing-64;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: $font-36;
}

h2 {
  font-size: $font-30;
}

h3 {
  font-size: $font-24;
}

h4 {
  font-size: $font-18;
}

h5 {
  font-size: $font-16;
}

h6 {
  font-size: $font-16;
}

p, span {
  font-size: $font-16;
  margin: 0;
}