@import 'scss/spacings';
@import 'scss/fonts';
@import 'scss/colors';
@import 'scss/media';

$max-image-width: 384px;
$max-players-list-width: 450px;

.list-header {
  margin-bottom: $spacing-48;

  @include media('<=medium') {
    margin-bottom: $spacing-32;
  }

  .title {
    @include media('<=medium') {
      margin-bottom: $spacing-16;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-8;
  }
}

.game {
  display: flex;
  flex-direction: column;
  background: $white;

  .image {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .content {
    padding: $spacing-16;

    .headers-section {
      margin-bottom: $spacing-16;
  
      .title {
        color: $link;
        font-size: $font-30;
        margin: 0 0 $spacing-4 0;

        a {
          color: $link;
          text-decoration: none;
        }
      }
    }
  
    .players-section {
      margin-bottom: $spacing-16;
  
      .title {
        margin: 0 0 $spacing-8 0;
      }
      .players {
        max-width: $max-players-list-width;
  
        > * {
          margin-right: $spacing-8;
          margin-bottom: $spacing-8;
        }
      }
    }
  
    .dates-section {
      .last-game-date {
        margin-bottom: $spacing-8;
      }
  
      .next-game-date {
  
      }
    }
  }
}