@import 'scss/spacings';
@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/media';

.media-highlight {
  display: grid;
  grid-template-columns: 4fr 3fr;
  column-gap: $spacing-48;
  padding-left: $spacing-48;
  padding-right: $spacing-48;
  margin-top: $spacing-64;
  margin-bottom: $spacing-64;
  grid-template-areas:
    "media text"
    "media text";

  @include media('<large') {
    padding-left: $spacing-16;
    padding-right: $spacing-16;
  }

  @include media('<=medium') {
    grid-template-areas:
      "text text"
      "media media";
    row-gap: $spacing-32;
  }

  @include media('<small') {
    padding-left: 0;
    padding-right: 0;
  }

  .media {
    grid-area: media;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      display: block;
      width: 100%;
    }
  }

  .text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media('<=medium') {
      align-items: center;

      .title, .subtitle, .description {
        text-align: center;
      }
    }

    .title {
      font-size: $font-60;
      margin-bottom: $spacing-24;
    }

    .subtitle {
      font-size: $font-36;
      margin-bottom: $spacing-16;
    }

    .description {
      font-size: $font-20;
      margin-bottom: $spacing-16;

      @include media('<=medium') {
        margin-bottom: $spacing-32;
      }
    }

    .cta-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}