@import 'scss/spacings';
@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/media';

$header-text: $white;
$header-background: $black;
$header-item-hover: $grey-2;
$header-item-focus: $grey-2;
$header-item-active: $grey-3;
$mobile-menu-width: 320px;

.header {
  display: flex;
  height: $spacing-64;
  background-color: $header-background;
  color: $header-text;
  position: relative;
  z-index: 1;

  .hamburger-container {
    display: none;

    .hamburger {
      cursor: pointer;
      display: block;
      height: $spacing-32;
      width: $spacing-32;
    }
  }

  @include media('<=medium') {
    position: fixed;

    .hamburger-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
  }

  .logo-container {
    display: inline-flex;
    height: 100%;
    align-items: center;
    color: $header-text;
    text-decoration: none;
    padding-left: $spacing-16;
    padding-right: $spacing-16;
    transition: background ease-in-out .3s;

    &:focus {
      outline: 0;
    }

    &[data-focus-visible-added] {
      background: $header-item-focus;
    }

    .logo {
      height: $spacing-48;
    }

    .logo-text {
      margin-left: $spacing-16;
      font-size: $font-30;
    }
  }

  .container, .row, .column {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-item {
      display: inline-block;
      cursor: pointer;

      .link {
        display: inline-block;
        color: $header-text;
        text-decoration: none;
        line-height: $spacing-48;
        padding-left: $spacing-16;
        padding-right: $spacing-16;
        transition: background ease-in-out .3s;

        &:hover {
          background: $header-item-hover;
        }

        &[data-focus-visible-added] {
          background: $header-item-focus;
        }

        &:active {
          background: $header-item-active;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    @include media('<=medium') {
      position: absolute;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
      width: $mobile-menu-width;
      height: calc(100vh - 100%);
      top: 100%;
      right: -$mobile-menu-width;
      background: $header-background;
      transition: right ease-in-out .3s;

      &.mobile-open {
        right: 0;
      }

      .header-item {
        background: $header-background;
        width: 100%;

        .link {
          width: 100%;
        }
      }
    }
  }
}