@import 'scss/spacings';
@import 'scss/colors';
@import 'scss/fonts';

.form-component {
  margin-bottom: $spacing-24;

  .label {
    display: block;
    font-size: $font-16;
  }

  .input {
    margin-top: $spacing-8;
    display: block;
    width: 100%;
    border: $spacing-2 solid $grey-4;
    height: $spacing-48;
    box-sizing: border-box;
    font-size: $font-16;
    padding-left: $spacing-12;
    padding-right: $spacing-12;
    transition: border-color .2s ease-out;

    &:focus {
      border-color: $black;
    }
  }
}