@import 'scss/spacings';
@import 'scss/colors';
@import 'scss/fonts';

.form-component {
  margin-bottom: $spacing-24;

  .label {
    display: block;
    font-size: $font-16;
  }

  .input {
    margin-top: $spacing-8;
    display: block;
    width: 100%;
    border: thin solid $black;
    height: $spacing-48;
    box-sizing: border-box;
    font-size: $font-16;
    padding-left: $spacing-12;
    padding-right: $spacing-12;
    transition: outline ease-in-out .1s;

    &:focus {
      outline: $spacing-4 solid $focus;
    }
  }
}