@import 'scss/spacings';
@import 'scss/colors';
@import 'scss/fonts';

.form-component {
  position: relative;
  margin-bottom: $spacing-32;

  .label {
    display: block;
    font-size: $font-16;
  }

  .textarea {
    margin-top: $spacing-8;
    display: block;
    width: 100%;
    border: thin solid $black;
    min-height: $spacing-48;
    box-sizing: border-box;
    font-size: $font-16;
    padding: $spacing-16 $spacing-12;
    transition: outline ease-in-out .1s;

    &:focus {
      outline: $spacing-4 solid $focus;
    }

    &.resize-none {
      resize: none;
    }

    &.resize-horizontal {
      resize: horizontal;
    }

    &.resize-vertical {
      resize: vertical;
    }

    &.resize-both {
      resize: both;
    }

    &.is-invalid {
      border: thin solid $error;
    }
  }

  .error-message {
    position: absolute;
    top: 100%;

    color: $error;
    margin-top: $spacing-8;
    transition: transform ease-in .3s, opacity .3s;
    transform: translateY(-$spacing-16);
    opacity: 0;

    &.is-visible {
      transform: translateY(0);
      opacity: 1;
      transition: transform ease-in-out .3s, opacity .3s .05s;
    }
  }
}