@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/spacings';

.message {
  margin: $spacing-8;
  padding: $spacing-8;
  border-radius: $spacing-4;
  background: $grey-2;
  color: $white;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-8;

    .nickname {
      font-size: $font-12;
    }

    .timestamp {
      font-size: $font-12;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .dice {
      svg {
        width: $spacing-24;
        height: $spacing-24;
      }
    }
    .text {
      font-size: $font-14;

      .roll-verbose {
        display: flex;
        flex-direction: column;

        .equation,
        .tokens,
        .result {
          display: inline-block;
          padding: $spacing-4;
          border-radius: $spacing-4;
        }

        .equation {
          background: $black;
          color: $white;
          margin-bottom: $spacing-4;
        }
        .tokens {
          background: $black;
          color: $white;
          margin-bottom: $spacing-4;
        }
        .result {
          background: $white;
          color: $black;
        }
      }

      .roll-concise {
        .equation {
          display: inline-block;
          background: $black;
          color: $white;
          padding: $spacing-4;
          border-top-left-radius: $spacing-4;
          border-bottom-left-radius: $spacing-4;
        }
        .result {
          display: inline-block;
          background: $white;
          color: $black;
          padding: $spacing-4;
          border-top-right-radius: $spacing-4;
          border-bottom-right-radius: $spacing-4;
        }
      }
    }
  }
}
