@import 'scss/colors';

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.5s linear;
  background-color: rgba($grey-5, 0.6);
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
